{
	"id": "cfd155dd-dbd7-4e65-94f5-a3bbb5426a32",
	"name": "Upstart Source Dest",
	"values": [
		{
			"key": "DestUrl",
			"value": "upstartnetwork.atlassian.net",
			"enabled": true
		},
		{
			"key": "destAuthToken",
			"value": "enter atlassian api key",
			"enabled": true
		},
		{
			"key": "destUserName",
			"value": "person.email@upstart.com",
			"enabled": true
		},
		{
			"key": "sourceAuthToken",
			"value": "enter atlassian api key",
			"enabled": true
		},
		{
			"key": "sourceUrl",
			"value": "upstartnetwork.atlassian.net",
			"enabled": true
		},
		{
			"key": "sourceUserName",
			"value": "person.email@upstart.com",
			"enabled": true
		},
		{
			"key": "api-domain",
			"value": "api.us.onelogin.com",
			"enabled": true
		},
		{
			"key": "client_id",
			"value": "enter onelogin api key",
			"enabled": true
		},
		{
			"key": "client_secret",
			"value": "enter onelogin client secret",
			"enabled": true
		},
		{
			"key": "us_or_eu",
			"value": "us",
			"enabled": true
		},
		{
			"key": "lessonlyKey",
			"value": "enter lessonly api key",
			"enabled": true
		},
		{
			"key": "lessonlySD",
			"value": "upstart",
			"enabled": true
		},
		{
			"key": "ebUN",
			"value": "enter the everbridge shared username",
			"enabled": true
		},
		{
			"key": "ebPW",
			"value": "enter your everbridge shared password",
			"enabled": true
		},
		{
			"key": "ebOrgID",
			"value": "892807736729539",
			"enabled": true
		},
		{
			"key": "upstartEmail",
			"value": "",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2020-06-24T20:59:39.585Z",
	"_postman_exported_using": "Postman/7.27.0"
}